        <!-- Footer Section Start -->
		<footer class="footer-area pt-100 pb-70 pt-4">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget">
							<div class="footer-logo">
								<a href="/">
									<img class="footerLogo" src="{{ asset('/assets/images/logo-externatic-couleur-white.svg') }}" alt="logo">
								</a>
							</div>

							<p>
                                Externatic est un cabinet dédié au recrutement de profils d’experts, 
                                ingénieurs et managers dans le domaine de l’informatique</p>

							<div class="footer-social">
								<a href="https://www.instagram.com/externatic/" target="_blank"><i class='bx bxl-instagram'></i></a>
								<a href="https://twitter.com/i/flow/login?redirect_after_login=%2FExternatic" target="_blank"><i class='bx bxl-twitter'></i></a>
								<a href="https://fr.linkedin.com/company/externatic" target="_blank"><i class='bx bxl-linkedin'></i></a>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget pl-60">
							<h3>Pour les Candidats</h3>
							<ul>
								<li>
									<a href="{{ path('app_offer') }}">
										<i class='bx bx-chevrons-right bx-tada'></i>
										Emplois
									</a>
								</li>
								<li>
									<a href="{{ path('app_login')}}">
										<i class='bx bx-chevrons-right bx-tada'></i>
										Compte
									</a>
								</li>
								<li>
									<a href="{{ path('app_offer') }}">
										<i class='bx bx-chevrons-right bx-tada'></i>
										Categories
									</a>
								</li>
								<li>
									<a href="{{ path('app_about') }}">
										<i class='bx bx-chevrons-right bx-tada'></i>
										A propos
									</a>
								</li>
								<li>
									<a href="{{ path('app_offer') }}">
										<i class='bx bx-chevrons-right bx-tada'></i>
										Liste des emplois
									</a>
								</li>
								<li>
									<a href="{{ path('app_register')}}">
										<i class='bx bx-chevrons-right bx-tada'></i>
										Créer votre compte									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget pl-60">
							<h3>Liens</h3>
							<ul>
								<li>
									<a href="/">
										<i class='bx bx-chevrons-right bx-tada'></i>
										Accueil
									</a>
								</li>
								<li>
									<a href="{{ path('app_about') }}">
										<i class='bx bx-chevrons-right bx-tada'></i>
										A propos
									</a>
								</li>
								<li>
									<a href="{{ path('app_company') }}">
										<i class='bx bx-chevrons-right bx-tada'></i>
										Entreprises
									</a>
								</li>
								<li>
									<a href="{{ path('app_faq') }}">
										<i class='bx bx-chevrons-right bx-tada'></i>
										FAQ
									</a>
								</li>
								<li>
									<a href="{{ path('app_mention') }}">
										<i class='bx bx-chevrons-right bx-tada'></i>
										Mentions légales
									</a>
								</li>
								<li>
									<a href="{{ path('app_politique') }}">
										<i class='bx bx-chevrons-right bx-tada'></i>
										Politique de confidentialité
									</a>
								</li>
								<li>
									<a href="{{ path('app_contact') }}">
										<i class='bx bx-chevrons-right bx-tada'></i>
										Contact
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget footer-info">
							<h3>Information</h3>
							<ul>
								<li>
									<span>
										<i class='bx bxs-phone'></i>
										Telephone:
									</span>
									<a href="Tél. +33 (0)2 85 52 26 33">
										+33 (0)2 85 52 26 33
									</a>
								</li>

								<li>
									<span>
										<i class='bx bxs-envelope'></i>
										Email:
									</span>
									<a href=" contact@externatic.fr">
                                        contact@externatic.fr
									</a>
								</li>

								<li>
									<span>
										<i class='bx bx-location-plus'></i>
										Adresse:
									</span>
                                    1 rue Racine – 44000 NANTES – France
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="copyright-text text-center">
			<p> Externatic © 2023 Touts droits réservé</p>
		</div>
		<!-- Footer Section End -->